@{
    ViewData["Title"] = "Index";
}

<form method="post" action="/Dapper/Create">
    <h3>Insert</h3>
    <lable>Id : </lable>
    <input type="text" name="Id" />
    <lable>Email : </lable>
    <input type="text" name="Email" />
    <lable>Password : </lable>
    <input type="text" name="Password" />
    <input type="submit" value="Create" />
</form>

<form method="post" action="/Dapper/Update">
    <h3>Update</h3>
    <lable>Id : </lable>
    <input type="text" name="Id" />
    <lable>Email : </lable>
    <input type="text" name="Email" />
    <lable>Password : </lable>
    <input type="text" name="Password" />
    <input type="submit" value="Update" />
</form>