@model DataAccessLayer.ViewModels.StateVm
<section>
    @{
        string actionName;
        if (Model.Sid != 0)
        {
            actionName = "EditS";
        }
        else
        {
            actionName = "CreateS";
        }
    }
    <form asp-action="@actionName" asp-controller="AutoMapperDashboard" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2"></div>
                <div class=" col-md-8">
                    @Html.HiddenFor(x => x.Sid)
                    <input type="hidden" value="@Model.Cid" class="hdncId" />
                    <div class="modal fade" id="Mstudent" style="background-color: #00000094;">
                        <div class="modal-dialog modal-lg ">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">
                                        @{
                                            if (actionName == "EditS")
                                            {
                                                <lavel>Edit State</lavel>
                                            }
                                            else
                                            {
                                                <lavel>Add State</lavel>
                                            }
                                        }
                                    </h4>
                                    <button type="button" class="close" data-bs-dismiss="modal">
                                        <span class="btn btn-danger">x</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <level>Country</level>
                                            <select asp-for="Cid" class="form-control" id="con">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>State</label>
                                        <input asp-for="SName" class="form-control" />
                                        <span asp-validation-for="SName" class="text-danger"></span>
                                    </div><br />

                                    <div class="form-group">
                                        @if (Model.Cid != 0)
                                        {
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i>&nbspClose</button>
                                            <button type="submit" value="Update" class="btn btn-primary"><i class="bi bi-pencil"></i>&nbspUpdate</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi bi-x-circle"></i>&nbspClose</button>
                                            <button type="submit" value="Create" class="btn btn-primary"> <i class="bi bi-plus-circle"></i>&nbspCreate</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="~/js/site.js"></script>