@model Tasks.ViewModal.CustomerVM
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 card">
        <h4>Student Add</h4>
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Std_Name" class="control-label"></label>
                <input asp-for="Std_Name" class="form-control" />
                <span asp-validation-for="Std_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Std_Class" class="control-label"></label>
                <input asp-for="Std_Class" class="form-control" />
                <span asp-validation-for="Std_Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Std_School" class="control-label"></label>
                <input asp-for="Std_School" class="form-control" />
                <span asp-validation-for="Std_School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Std_Address" class="control-label"></label>
                <input asp-for="Std_Address" class="form-control" />
                <span asp-validation-for="Std_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Std_Mobile" class="control-label"></label>
                <input asp-for="Std_Mobile" class="form-control" />
                <span asp-validation-for="Std_Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Std_Image" class="control-label"></label>
                <input type="file" name="file" class="form-control"  />
                <span asp-validation-for="Std_Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
